@import './variables.scss';
body {
    font-family: 'Mali', cursive;;
    .white-button {
        width: 130px;
        background: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 0.8em;
        color: #000000;
    }

    .green-button {
        width: 130px;
        background: #4caf50;
        border: 1px solid #4caf50;
        border-radius: 0.8em;
        color: #fff;
    }

    .icon-button {
        background: none;
        border: 0;
        padding: 0;
        border-radius: 20px;
        height: 35px;
        width: 35px;
        color: #082209 !important;
        &:hover {
            background: #fff !important;
        }
        .fas {
            font-size: 20px;
        }
    }
    .modal-content {
        border: 2px solid #4caf50;
        .modal-header {
            background: $greenGradient;
        }
    }
}