    .menu {
        text-align: center;
        .menu-item {
            background: #fff;
            color: #4caf50;
            border: 1px solid;
            margin: 0 3em;
            width: 120px;
            &:disabled {
                cursor: none;
                opacity: 0.3;
            }
        } 
    }
    .foods{
        text-align: center;
        margin-top: 10px;
    }
    .main{
        .letter {
            font-family: 'Major Mono Display', monospace;
        }
    }
      