@import '../../style/variables.scss';
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    background-image: $grayGradient;
    color: white;
    text-align: center;
    line-height: 50px;
  }