.order {
    border-bottom: 2px solid #4caf50;
    margin-top: 15px; 
    .food-image{
        width: 100px;
        height: 100px;
        border: 3px solid #6bca6e ;
        border-radius: 30px;
    }
  
    .order-item {
        position: relative;
        top: -20px;
        max-width:450px
    }
    .counter {
        display: flex;
        position: relative;
        top: 10px;
        .count {
            border: 1px solid #000000;
            border-radius: 60px;
            position: relative;
            top: -17px;
            padding: 2px 10px;
        }
    }
}