@import '../../style/variables.scss';
.navbar-default{
    background: $greenGradient;
}
.header {
    .container {
        background: $greenGradient;
        .app-logo {
            height: 65px;
            width: 140px;
        }
        .navbar-toggle {
            .icon-bar {
                background-color: #2E7D32;
            }
        }
        .collapse {
            text-align: center;
        }
        .collapsing {
            text-align: center;
        }
        .icon-up-size{
            .fa{
                font-size: 20px;
                margin-top: 8px;
                color: white;
                &:hover{
                    color: #e0e0e0;;
                }
            }
        }
    }
}